.footer {
  background-color: var(--header-bgc-color);
  padding: 60px 0;

}
.footer--container {
  @media screen and (min-width:1200px) {
    @include flex(flex, row, null, null, baseline);
  }
}
.footer__mob-tab{
  @include flex(flex, column, null, null, center);

  @media screen and (min-width:768px) {
    @include flex(flex, row, null, space-around, baseline);
    margin-bottom: 60px;
  }
   @media screen and (min-width:1200px){
     margin-bottom: 0;
   }
}